// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// ACES Brand Colors
// Primary: Verde ACES
// Secondary: Verde escuro
// Accent: Amarelo do logo

$primary: #009E39;
$secondary: #006B26;
$accent: #F9D423;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #009E39;
$negative: #c10015;
$info: #31ccec;
$warning: #F9D423;
